<!DOCTYPE html>
{% extends "base.html" %}

{% block h1_header %}
Listado de clientes
{% endblock h1_header %}

{% block main %}
<a href={% url "crear_cliente" %}>Crear cliente</a>
<form action={%  url "clientes" %}>
    {{formulario}}
    <input type="submit" value="Buscar">
</form>
{% if clientes %}
<ul>
    {% for cliente  in clientes  %}
        <li>{{cliente}} |
            <a href={% url 'ver_cliente' cliente.id %}>Ver</a> |
            <a href={% url 'eliminar_cliente' cliente.id %}>Eliminar</a> |
            <a href={% url 'editar_cliente' cliente.id %}>Editar</a>|
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron clientes relacionados con la busqueda.</p>
{% endif %}
{% endblock main %}
   
