{% extends "base.html" %}

{% block h1_header %}
Listado de comercios
{% endblock h1_header %}

{% block main %}
<a href={% url "crear_comercio" %}>Crear Comercio</a>
{% comment %} <form action={%  url "comercios" %}>
    {{formulario}}
    <input type="submit" value="Buscar">
</form> {% endcomment %}
{% if comercios %}
<ul>
    {% for comercio in comercios %}
        <li>{{comercio}} |
            {% if comercio.imagen %}
            <img src="{{ comercio.imagen.url }}" alt="" height="50px">
            {% endif %}
            <a href="{% url 'detalle_comercio' comercio.id %}">Detalle</a>
            <a href={% url 'editar_comercio' comercio.id %}>Editar</a>|
            <a href={% url 'eliminar_comercio' comercio.id %}>Eliminar</a> |  
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron comercios relacionados con la busqueda.</p>
{% endif %}
{% endblock main %}
   
